[submodule "vendor/SDL3"]
	path = vendor/SDL3
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "vendor/nfd"]
	path = vendor/nfd
	url = git@github.com:btzy/nativefiledialog-extended.git
